includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: true
