parameters:
	ignoreErrors:
		-
			message: "#^Class Awuxtron\\\\OptionsObject\\\\Attributes\\\\AbstractAttribute has an uninitialized property \\$instance\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Attributes/AbstractAttribute.php

		-
			message: "#^Class Awuxtron\\\\OptionsObject\\\\Attributes\\\\AbstractAttribute has an uninitialized property \\$reflectionClass\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Attributes/AbstractAttribute.php

		-
			message: "#^Class Awuxtron\\\\OptionsObject\\\\Attributes\\\\AbstractAttribute has an uninitialized property \\$reflectionProperty\\. Give it default value or assign it in the constructor\\.$#"
			count: 1
			path: src/Attributes/AbstractAttribute.php
